
body {
    width: 100%;
    margin: auto;
<<<<<<< HEAD
    background-color: rgb(234, 234, 234);
=======
    background-color: #f5f5f5  ;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    /*TODO: change font and colours*/
}
/* using button rather than btn from bootstrap because all methods from Bindings.js
 are making use of <button> */
button{
    border-radius: 30px;
    background-color: #0a517f;
    color: #f5f5f5;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 20px;
}
Button:hover {
    transition: all 0.7s ease 0s;
    background-color: #1081cc;
}
Button:active {
    position:relative;
    top:1px;
}

span{
    color: #0a517f;
}
span:hover{
    transition: all 0.7s ease 0s;
    color: #f5f5f5;
>>>>>>> master
}

#userPane {
    width: 49%;
    float: left;
}

#adminPane {
    width: 49%;
    float: right;
}

#documentsPane {
    width: 49%;
    float: left;
}

#tagsPane {
    width: 49%;
    float: right;
}

/* User management */

.user-name {}

/* Document management */

.document-filter-list {}

.document-list-pane {}

.document-list-pane li {
    padding-top: 20pt;
}

.document-name {
    padding: 5px 10px;
    color: white;
    background-color: black;
    text-align: center;
    font:2.4em DejaVu Sans, sans-serif;
    font-size: 14px;
    cursor:pointer;
}



.document-name:hover {
    background-color: #aaaaaa;
}

.document-information-pane {}

.document-details-pane {}

.document-details {}

.document-control-pane {}

.document-comments-pane {}

.document-history-pane {}

/* Tag management */

.tag-filter-list {}

.tag-list-pane {}

.tag-name {}

.tag-information-pane {}

.tag-details-pane {}

.tag-details {}

.tag-control-pane {}

.tag-history-pane {}

/* Names and values of document/tag properties */

.property-name {}

.property-value {}

/* Comments */

.comment-list {}

.comment-text {}

.comment-info {}

/* Events */

.event-list {}

.event-date {}

.event-description {}

/* Darren- styles the login page */

.image-sizing{
    max-width: 300px;
}
@media (min-width:400px){
    .container{
        width:370px;
    }
}

.vertical-center{
    margin-top: 5%;
    margin-bottom: auto;
}
/* ------------------ End of Darren Style -----------*/

/* nav bar */
.navbar-default{
    background-color: #41a2ff ;
}

/* LOGO */
.logo{
    text-shadow: #000 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    font-weight: 900;
}
.logo:hover {
    transition: all 1.5s ease 0s;
    color: #f5f5f5;
}
