/*
colours I was thinking of

#0A6A7F            text
#f5f5f5            background
#41a2ff           0a1575
#707D7F            grey
#10AACC            blue2
*/



body {
    width: 100%;
    margin: auto;
    background-color: #f5f5f5  ;
}
/* using button rather than btn from bootstrap because all methods from Bindings.js
 are making use of <button> */
button{
    border-radius: 30px;
    background-color: #0a517f;
    color: #f5f5f5;
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
    padding: 10px 20px;
}
Button:hover {
    transition: all 0.7s ease 0s;
    background-color: #1081cc;
}
Button:active {
    position:relative;
    top:1px;
}
h1:hover{
    color: #f5f5f5;
}

input{
    border:none;
    border-bottom: 2px solid #f1f1f1;
}

span{
    color: #0a517f;
}
span:hover{
    transition: all 0.7s ease 0s;
    color: #f5f5f5;
}

#userPane {
    width: 49%;
    float: left;
}

#adminPane {
    width: 49%;
    float: right;
}

#documentsPane {
    width: 49%;
    float: left;
}

#tagsPane {
    width: 49%;
    float: right;
}

/* User management */

.user-name {}

/* Document management */

.document-filter-list {}

.document-list-pane {}

.document-list-pane li {
    padding-top: 20pt;
}

.document-name {
    padding: 5px 10px;
    color: white;
    background-color: black;
    text-align: center;
    font:2.4em DejaVu Sans, sans-serif;
    font-size: 14px;
    cursor:pointer;
}

.document-name:hover {
    background-color: #aaaaaa;
}

.document-information-pane {}

.document-details-pane {}

.document-details {}

.document-control-pane {}

.document-comments-pane {}

.document-history-pane {}

/* Tag management */

.tag-filter-list {}

.tag-list-pane {}

.tag-name {}

.tag-information-pane {}

.tag-details-pane {}

.tag-details {}

.tag-control-pane {}

.tag-history-pane {}

/* Names and values of document/tag properties */

.property-name {}

.property-value {}

/* Comments */

.comment-list {}

.comment-text {}

.comment-info {}

/* Events */

.event-list {}

.event-date {}

.event-description {}


/* nav bar */
.navbar-default{
    background-color: #41a2ff ;
}


